/*reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
html{background: #f2f2f2;font-family: 微软雅黑,黑体,sans-serif;}
#helpbody {
width: 1020px;
box-shadow: 1px 1px 3px #999;
height: auto;
padding: 10px;
margin: 50px auto 20px auto;
background: #fff;
border-radius: 5px;
position: relative;
}
.title {
text-align: center;
line-height: 40px;
font-size: 20px;
background: #fff url(../img/h-title.png) no-repeat left bottom;
height: 100px;
}
#itembox {
overflow: hidden;
position: relative;
}
.z-catalog {
z-index: 0;
margin-bottom: 10px;
position: relative;
background: #fff;
overflow: hidden;
padding: 5px 30px;
}
.item {
line-height: 26px;
margin-top:20px;
}
.item h3{
	font-weight: bold;
}
.item p {
line-height: 28px;
font-size: 14px;
margin: 15px 0;
color:#444;
}
.item a {
font-size: 16px;
font-weight: 500;
color: #333;
text-decoration: none;
background-color: #fff;
padding-right: 10px;
}
.footer {
padding: 8px 0;
width: 100%;
background: #454f63;
font-size: 14px;
line-height: 22px;
_line-height: 28px;
}
.footer .footer-content {
overflow: hidden;
margin: 0 auto;
width: 1000px;
color: #919292;
text-align: center;
}
.footer .copyright {
color: #F8F8F8;
font-size: 12px;
line-height: 30px;
}
.footer img{position: relative;top:5px;}